# Test Parameter
HOST="https://my-cdb-api-endpoint.azurewebsites.net"
TEST_CLIENTS=1
USERS_PER_CLIENT=1
HATCH_RATE=1

# Used only by the azure-deploy script
RESOURCE_GROUP="dm-cdb"
AZURE_STORAGE_ACCOUNT="dmcdbtest"
