# Test Parameter
HOST="https://my-scaleout-test.azurewebsites.net"
TEST_CLIENTS=1
USERS_PER_CLIENT=100
SPAWN_RATE=1

# Used only by the azure-deploy script
RESOURCE_GROUP="my-scaleout-test"
AZURE_STORAGE_ACCOUNT="myscaleouttest"
